@font-face {
  font-family: Poppins;
  src: url(./Font/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: Poppins sans-serif;
}
main {
  height: 100vh;
  width: 100%;
}
nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: 2.3rem;
  color: #3d535f;
  font-weight: 900;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: 3px;
}
b {
  color: #7f00ff;
  font-size: 70px;
}
nav > .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
nav > .nav-links > li {
  list-style: none;
}
nav > .nav-links > li > a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}
.social-links {
  display: flex;
  gap: 20px;
}
.fa-brands {
  font-size: 1.8rem;
  color: black;
}
.hero-page {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left {
  max-width: 650px;
}
.right {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  color: #3d535f;
  font-weight: 100;
  margin-bottom: 10px;
}
h2 {
  color: #3d535f;
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 27px;
}
p {
  text-align: left;
  color: #3d535f;
  font-size: 1.4rem;
  margin-bottom: 33px;
}
.changing-text {
  color: #7f00ff;
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 130px;
}
button {
  font-size: 1.9rem;
  color: white;
  background-color: #3d535f;
  border: none;
  padding: 8px 15px;
  letter-spacing: 3px;
}
button > i {
  font-size: 1.6rem;
}
.multiText {
  color: #7f00ff;
  text-transform: capitalize;
}
